*{
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: #f1f1f1;
    font-family: "Segoe UI", sans-serif;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 0 auto;
    max-width: 34rem;
    width: 90%;
}

input{
    background-color: transparent;
    border: none;
    color: #fff;
    font: inherit;
    width: auto;
}

input::placeholder{
    color: #fff;
}

label{
    display: block;
}

.card{
    background-color: #171a1c;
    border-style: solid;
    border-color: red;
    border-radius: 14px;
    color: #bebebe;
    padding: 32px;
}

.header{
    margin-bottom: 7rem;
}

.title{
    color: #fff;
    float: left;
    font-size: 1.5rem;
}

.logo{
    float: right;
}

.row{
    margin-bottom: 1.5rem;
}

.content{
    margin-bottom: 5rem;
}

.content input{
    outline: none;
}

.card-number{
    font-size: 32px;
}

.card-expire{
    float: left;
}

.card-expire input{
    font-size: 0.9rem;
}

.card-expire-month{
    width: 22%;
}

.card-expire-month, .card-expire-year{
    float: left;
}

.card-cvv{
    float: right;
}

.card-cvv input{
    width: 2rem;
    text-align: center;
    font-size: 0.9rem;
}


.mastercard-icon {
    float: right;
    display: inline-block;
    height: 2em;
    isolation: isolate;
    position: relative;
    line-height: 2em;
    vertical-align: middle;
    width: 3.222em;
  }
  
  .mastercard-icon::before,
  .mastercard-icon::after {
    border-radius: 1em;
    content: "";
    display: inline-block;
    height: 2em;
    position: absolute;
    width: 2em;
  }
  
  .mastercard-icon::before {
    background-color: #eb001b;
    left: 0;
    top: 0;
  }
  
  .mastercard-icon::after {
    background-color: #f79e1b;
    mix-blend-mode: hard-light;
    right: 0;
    top: 0;
  }

  .card-name{
    float: left;
    font-size: 0.9rem;
  }